.bs-docs-header {
    margin-bottom: 40px;
    font-size: 20px;
}

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 0;
    color: #cdbfe3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #6f5499;
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499)); */
    /* background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%); */
    background-image: -o-linear-gradient(top,#6F3F3F 0,#6f5499 100%);
    /* background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    /* background-repeat: repeat-x; */
}

.bs-docs-header

{
    margin-bottom:40px;
    font-size:20px
}

.bs-docs-header h1

{
    margin-top:0;
    color:#fff
}

.bs-docs-header p
{
    margin-bottom:0;
    font-weight:300;
    line-height:1.4
}

.bs-docs-header .container
{
    position:relative
}

@media (min-width:768px)

{

    .bs-docs-header

    {
        padding-top:60px;
        padding-bottom:60px;
        font-size:24px;
        text-align:left
    }

    .bs-docs-header 

    h1
    {
        font-size:60px;
        line-height:1
    }
}

@media (min-width:992px)
{
    .bs-docs-header h1,
    .bs-docs-header p
    {
        margin-right:380px
    }
}