
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Donate for Chennai" content="">
    <meta name="srinivas kodali" content="">

    <title>Donate for Chennai</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/stlye.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Donate for Chennai</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  
    <div class="bs-docs-header" id="content" tabindex="-1"> 
      <div class="container"> 
        <br></br>
        <h1>Help Chennai</h1> 
        <p>An platform for rehabilitation of people in Chennai. We need your help to get back the livelihood of people who lost everything during the floods. </p> 
      </div>
    </div>  

    <div class="container">

      <form method="POST" name="form" action="/donate">
          <div class="form-group">
              <label for="inputEmail">Name</label>
              <input type="text" class="form-control" id="inputEmail" placeholder="Name" name="username" value="email">
          </div>
          <div class="form-group">
              <label for="inputPassword">Email</label>
              <input type="email" class="form-control" id="inputPassword" name="email" placeholder="Email" value="asd@gmail.com">
          </div>
          <div class="form-group">
              <label for="inputPassword">Contact</label>
              <input type="password" class="form-control" name="contact" id="inputPassword" placeholder="Phone number" value="pass">
          </div>
          <div class="form-group">
              <label for="inputPassword">Request</label>
              <input type="password" class="form-control" name="item" id="inputPassword" placeholder="Item needed" value="pass">
          </div>
          <div class="form-group">
              
              <label for="inputPassword">Landmark</label><br>
              <input type="text" class="form-control" name="landmark" id="inputPassword" placeholder="Landmark" value="landmark"  />
              
             

              
          </div>

          <div class="form-group">
               <label for="inputPassword">Area</label><br>
              <input type="text" class="form-control" name="area" id="inputPassword" placeholder="area" value="landmark"  />
          </div>

          <button type="submit" class="btn btn-primary" id="sub_button">Submit</button>
          <script type="text/javascript">
                          // Extended disable function
                   $.ajax({
                        type : "POST",
                        url : "/item",
                        data: JSON.stringify(data, null, '\t'),
                        contentType: 'application/json;charset=UTF-8',
                        success: function(result) {
                            console.log(result);
                        }
                    });

                   console.log(data);
          </script>
      </form>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <footer>
      
      <br><br><br><br>

    </footer>
  </body>
</html>
