
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Donate for Chennai" content="">
    <meta name="srinivas kodali" content="">

    <title>Donate for Chennai</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/stlye.css')}}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Donate for Chennai</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  
    <div class="bs-docs-header" id="content" tabindex="-1"> 
      <div class="container"> 
        <br></br>
        <h1>Help Chennai</h1> 
        <p>An platform for rehabilitation of people in Chennai. We need your help to get back the livelihood of people who lost everything during the floods. </p> 
      </div>
    </div>  

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>What should I donate</h1>
        <p>Please go through the list of things people need below and donate those only what people might require.</p>
        <p>Note: Not everything you want to give away will be needed by the affected people. Donate things what matter to them most.</p>
        <p>If you need something, request and we will try to help you get it.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/donate" role="button">Donate</a>
          <a class="btn btn-lg btn-primary" href="/request" role="button">Request</a>
        </p>
      </div>

            <div class="row">
        <div class="col-lg-4">
          <h2>Sewing Machine</h2>
          <p> I lost my sewing machine which was my only source of daily income. I will be really helpful, if someone can donate a sewing machine. </p>
          <p>Shruti Natrajan</p>
          <p><a class="btn btn-primary" href="#" role="button">Donate</a></p>
        </div>

        <div class="col-lg-4">
          <h2>Bi-Cycle</h2>
          <p>I lost my cycle during the floods, which is my only way of travel. I can't afford a bus or train to go around each day for work </p>
          <p>Ajay Kumar</p>
          <p><a class="btn btn-primary" href="#" role="button">Donate</a></p>
       </div>

      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
